In [11]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
#gmaps.configure(api_key=g_key)

In [12]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Pascagoula,30.37,-88.56,78.80,78,1,5.82,US,2020-10-24 23:39:51
1,1,Qaanaaq,77.48,-69.36,17.24,92,100,12.59,GL,2020-10-24 23:39:51
2,2,Punta Arenas,-53.15,-70.92,42.80,93,90,14.99,CL,2020-10-24 23:39:51
3,3,Chiman,32.55,73.81,62.60,82,0,5.03,PK,2020-10-24 23:39:51
4,4,Grodkow,50.70,17.38,55.00,93,0,4.70,PL,2020-10-24 23:39:51

In [13]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [14]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:
#General Syntax for creating a heat map:

# 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of equal length of the locations array.
# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

In [29]:
import gmaps
gmaps.configure(api_key=g_key)

# # 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
# # 2. Assign the weights variable to some values.
# temperatures = # an array of equal length of the locations array.
# # 3. Assign the figure variable to the gmaps.figure() attribute.
# fig = gmaps.figure()
# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# # 5. Add the heatmap layer.
# fig.add_layer(heatmap_layer)
# # 6. Call the figure to plot the data.
# fig

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [31]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [32]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [33]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [35]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Pascagoula,30.37,-88.56,78.80,78,1,5.82,US,2020-10-24 23:39:51
9,9,Alugan,12.22,125.48,77.81,92,100,13.35,PH,2020-10-24 23:39:52
14,14,Hilo,19.73,-155.09,87.80,62,90,18.34,US,2020-10-24 23:35:09
24,24,Catuday,16.29,119.81,80.10,84,100,7.54,PH,2020-10-24 23:39:53
30,30,Bengkulu,-3.80,102.27,77.72,82,100,4.05,ID,2020-10-24 23:39:54
31,31,Kapaa,22.08,-159.32,84.99,74,40,11.41,US,2020-10-24 23:35:49
39,39,Adrar,20.50,-10.07,88.09,12,100,5.84,MR,2020-10-24 23:39:55
42,42,Bandarbeyla,9.49,50.81,75.49,82,87,3.47,SO,2020-10-24 23:39:55
43,43,Trairi,-3.28,-39.27,79.59,80,1,11.43,BR,2020-10-24 23:39:55
44,44,Makakilo City,21.35,-158.09,84.20,70,1,9.17,US,2020-10-24 23:38:39

In [36]:
preferred_cities_df.count()

City_ID       168
City          168
Lat           168
Lng           168
Max Temp      168
Humidity      168
Cloudiness    168
Wind Speed    168
Country       168
Date          168
dtype: int64

In [38]:
preferred_cities_df.dropna()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Pascagoula,30.37,-88.56,78.80,78,1,5.82,US,2020-10-24 23:39:51
9,9,Alugan,12.22,125.48,77.81,92,100,13.35,PH,2020-10-24 23:39:52
14,14,Hilo,19.73,-155.09,87.80,62,90,18.34,US,2020-10-24 23:35:09
24,24,Catuday,16.29,119.81,80.10,84,100,7.54,PH,2020-10-24 23:39:53
30,30,Bengkulu,-3.80,102.27,77.72,82,100,4.05,ID,2020-10-24 23:39:54
...,...,...,...,...,...,...,...,...,...,...
538,538,Camargo,27.67,-105.17,82.94,22,47,3.87,MX,2020-10-24 23:41:08
543,543,Praia,14.92,-23.51,78.80,83,100,21.92,CV,2020-10-24 23:40:49
546,546,Bowen,-20.02,148.23,78.80,78,75,4.70,AU,2020-10-24 23:41:10
547,547,Guarapari,-20.67,-40.50,75.00,94,40,5.82,BR,2020-10-24 23:41:10
550,550,Bouloupari,-21.87,166.05,84.20,51,75,6.93,NC,2020-10-24 23:41:10

In [39]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
0      Pascagoula      US     78.80  30.37  -88.56
9          Alugan      PH     77.81  12.22  125.48
14           Hilo      US     87.80  19.73 -155.09
24        Catuday      PH     80.10  16.29  119.81
30       Bengkulu      ID     77.72  -3.80  102.27
31          Kapaa      US     84.99  22.08 -159.32
39          Adrar      MR     88.09  20.50  -10.07
42    Bandarbeyla      SO     75.49   9.49   50.81
43         Trairi      BR     79.59  -3.28  -39.27
44  Makakilo City      US     84.20  21.35 -158.09

In [40]:
# # Set parameters to search for a hotel.
# params = {
#     "radius": 5000,
#     "type": "lodging",
#     "key": g_key
# }

In [43]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [44]:
hotel_df

           City Country  Max Temp    Lat     Lng               Hotel Name
0    Pascagoula      US     78.80  30.37  -88.56              Regency Inn
9        Alugan      PH     77.81  12.22  125.48  BEMBEM RAIN FEED RESORT
14         Hilo      US     87.80  19.73 -155.09      Hilo Hawaiian Hotel
24      Catuday      PH     80.10  16.29  119.81                  GResort
30     Bengkulu      ID     77.72  -3.80  102.27     Grage Hotel Bengkulu
..          ...     ...       ...    ...     ...                      ...
538     Camargo      MX     82.94  27.67 -105.17
543       Praia      CV     78.80  14.92  -23.51
546       Bowen      AU     78.80 -20.02  148.23
547   Guarapari      BR     75.00 -20.67  -40.50
550  Bouloupari      NC     84.20 -21.87  166.05             Oua-Ya Lodge

[168 rows x 6 columns]

In [48]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))