## Deliverable 2. Create a Customer Travel Destinations Map.

In [56]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [57]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/chelseaconrad/Desktop/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,10,hilo,US,82.4,scattered clouds,19.73,-155.09,Hilo Hawaiian Hotel
1,11,boyolangu,ID,75.7,overcast clouds,-8.12,111.89,Yos ega cv
2,13,puerto ayora,EC,78.8,scattered clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
3,19,georgetown,MY,77.0,scattered clouds,5.41,100.34,Cititel Penang
4,23,miri,MY,77.0,scattered clouds,4.41,114.01,"Mega Hotel, Miri"

In [58]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189 entries, 0 to 188
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              189 non-null    int64
 1   City                 189 non-null    object
 2   Country              188 non-null    object
 3   Max Temp             189 non-null    float64
 4   Current Description  189 non-null    object
 5   Lat                  189 non-null    float64
 6   Lng                  189 non-null    float64
 7   Hotel Name           189 non-null    object
dtypes: float64(3), int64(1), object(4)
memory usage: 11.9+ KB

In [59]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value. My code ex from module.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

# min_temp = 60
# max_temp = 75

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 95

In [60]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria. My code ex from module. 
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,10,hilo,US,82.40,scattered clouds,19.73,-155.09,Hilo Hawaiian Hotel
1,11,boyolangu,ID,75.70,overcast clouds,-8.12,111.89,Yos ega cv
2,13,puerto ayora,EC,78.80,scattered clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
3,19,georgetown,MY,77.00,scattered clouds,5.41,100.34,Cititel Penang
4,23,miri,MY,77.00,scattered clouds,4.41,114.01,"Mega Hotel, Miri"
5,27,faanui,PF,80.02,clear sky,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
6,29,butaritari,KI,81.09,broken clouds,3.07,172.79,Isles Sunset Lodge
7,35,sabang,ID,81.75,overcast clouds,5.89,95.32,Hotel Citra
8,43,quang ngai,VN,75.63,overcast clouds,15.12,108.80,Central Hotel
9,49,kahului,US,87.80,few clouds,20.89,-156.47,Maui Seaside Hotel

In [61]:
# 4a. Determine if there are any empty rows. 
#My examples from module, any should work.
#preferred_cities_df.count()
preferred_cities_df.notnull().sum()
#preferred_cities_df.isnull().sum()

City_ID                189
City                   189
Country                188
Max Temp               189
Current Description    189
Lat                    189
Lng                    189
Hotel Name             189
dtype: int64

In [62]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df_2 = preferred_cities_df.dropna()
preferred_cities_df_2.notnull().sum()
preferred_cities_df_2.info()
preferred_cities_df_2.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188 entries, 0 to 188
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              188 non-null    int64
 1   City                 188 non-null    object
 2   Country              188 non-null    object
 3   Max Temp             188 non-null    float64
 4   Current Description  188 non-null    object
 5   Lat                  188 non-null    float64
 6   Lng                  188 non-null    float64
 7   Hotel Name           188 non-null    object
dtypes: float64(3), int64(1), object(4)
memory usage: 13.2+ KB

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,10,hilo,US,82.4,scattered clouds,19.73,-155.09,Hilo Hawaiian Hotel
1,11,boyolangu,ID,75.7,overcast clouds,-8.12,111.89,Yos ega cv
2,13,puerto ayora,EC,78.8,scattered clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
3,19,georgetown,MY,77.0,scattered clouds,5.41,100.34,Cititel Penang
4,23,miri,MY,77.0,scattered clouds,4.41,114.01,"Mega Hotel, Miri"

In [63]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
#hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
#hotel_df["Hotel Name"] = ""
#hotel_df.head(10)

# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates. From module
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,hilo,US,82.40,scattered clouds,19.73,-155.09,
1,boyolangu,ID,75.70,overcast clouds,-8.12,111.89,
2,puerto ayora,EC,78.80,scattered clouds,-0.74,-90.35,
3,georgetown,MY,77.00,scattered clouds,5.41,100.34,
4,miri,MY,77.00,scattered clouds,4.41,114.01,
5,faanui,PF,80.02,clear sky,-16.48,-151.75,
6,butaritari,KI,81.09,broken clouds,3.07,172.79,
7,sabang,ID,81.75,overcast clouds,5.89,95.32,
8,quang ngai,VN,75.63,overcast clouds,15.12,108.80,
9,kahului,US,87.80,few clouds,20.89,-156.47,

In [64]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key


# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6c. Get latitude and longitude from DataFrame
    
#     print("trying request")
    
    # 6e. Make request and retrieve the JSON data from the search. 
    # Make request and get the JSON data from the search.
#     print(base_url, params)
    try:
        hotels = requests.get(base_url, params=params).json()
#         print("tried request")
#         print(hotels.keys())
        #print(hotels)
        # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
        # Grab the first hotel from the results and store the name.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("error on ", params )
        pass

error on  {'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyDhvrIWx2-Va170yu-VZyXVMcy-Nzl1RcI', 'location': '13.98,10.27'}
error on  {'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyDhvrIWx2-Va170yu-VZyXVMcy-Nzl1RcI', 'location': '14.67,-4.0'}
error on  {'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyDhvrIWx2-Va170yu-VZyXVMcy-Nzl1RcI', 'location': '-3.14,142.35'}
error on  {'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyDhvrIWx2-Va170yu-VZyXVMcy-Nzl1RcI', 'location': '0.53,72.93'}
error on  {'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyDhvrIWx2-Va170yu-VZyXVMcy-Nzl1RcI', 'location': '22.68,-3.98'}
error on  {'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyDhvrIWx2-Va170yu-VZyXVMcy-Nzl1RcI', 'location': '16.64,1.64'}
error on  {'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyDhvrIWx2-Va170yu-VZyXVMcy-Nzl1RcI', 'location': '18.44,1.41'}
error on  {'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyDhvrIWx2-Va170yu-VZyXVMcy-Nzl1RcI', 'location': '-3.38,-68.87'}
error on  {'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyDhvrIWx2-Va170yu-VZyXVMcy-Nzl1RcI', 'location': '14.35,3.32'}
error on  {'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyDhvrIWx2-Va170yu-VZyXVMcy-Nzl1RcI', 'location': '-6.22,155.63'}

In [65]:
hotel_df.info()
hotel_df.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 189 entries, 0 to 188
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City                 189 non-null    object
 1   Country              188 non-null    object
 2   Max Temp             189 non-null    float64
 3   Current Description  189 non-null    object
 4   Lat                  189 non-null    float64
 5   Lng                  189 non-null    float64
 6   Hotel Name           189 non-null    object
dtypes: float64(3), object(4)
memory usage: 16.8+ KB

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,hilo,US,82.40,scattered clouds,19.73,-155.09,Hilo Hawaiian Hotel
1,boyolangu,ID,75.70,overcast clouds,-8.12,111.89,Yos ega cv
2,puerto ayora,EC,78.80,scattered clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
3,georgetown,MY,77.00,scattered clouds,5.41,100.34,Cititel Penang
4,miri,MY,77.00,scattered clouds,4.41,114.01,"Mega Hotel, Miri"
5,faanui,PF,80.02,clear sky,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
6,butaritari,KI,81.09,broken clouds,3.07,172.79,Isles Sunset Lodge
7,sabang,ID,81.75,overcast clouds,5.89,95.32,Hotel Citra
8,quang ngai,VN,75.63,overcast clouds,15.12,108.80,Central Hotel
9,kahului,US,87.80,few clouds,20.89,-156.47,Maui Seaside Hotel

In [66]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
184    False
185    False
186    False
187    False
188    False
Name: Hotel Name, Length: 189, dtype: bool

In [67]:
# 7. Drop the rows where there is no Hotel Name.
# hotel_df["Hotel Name"].isnull()
clean_hotel_df = hotel_df
clean_hotel_df["Hotel Name"] = hotel_df["Hotel Name"].dropna()

In [68]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,hilo,US,82.40,scattered clouds,19.73,-155.09,Hilo Hawaiian Hotel
1,boyolangu,ID,75.70,overcast clouds,-8.12,111.89,Yos ega cv
2,puerto ayora,EC,78.80,scattered clouds,-0.74,-90.35,Finch Bay Galapagos Hotel
3,georgetown,MY,77.00,scattered clouds,5.41,100.34,Cititel Penang
4,miri,MY,77.00,scattered clouds,4.41,114.01,"Mega Hotel, Miri"
...,...,...,...,...,...,...,...
184,saint simons,US,80.60,clear sky,31.14,-81.39,Holiday Inn Express Saint Simons Island
185,haapiti,PF,82.40,shower rain,-17.57,-149.87,Linareva Moorea Beach Resort
186,hwange,ZW,75.31,clear sky,-18.37,26.50,Hwange Colliery Guest House
187,port blair,IN,79.20,moderate rain,11.67,92.75,Fortune Resort Bay Island
188,liberty,US,84.99,scattered clouds,31.83,-81.50,Sasser Trailer Park

In [69]:
# 8a. Create the output File (CSV)
output_data_file = "/Users/chelseaconrad/Desktop/World_Weather_Analysis/Weather_Database/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [70]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
#<dt>Current Description</dt><dd>{Current Description}</dd>
info_box_template = """
<dl>
<dt><b>Hotel Name</b></dt><dd>{Hotel Name}</dd>
<dt><b>City</b></dt><dd>{City}</dd>
<dt><b>Country</b></dt><dd>{Country}</dd>
<dt><b>Current Weather</b></dt><dd>{Current Description}</dd>
<dt><b>Max Temp</b></dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [71]:
# print(locations[1][1])
locations

       Lat     Lng
0    19.73 -155.09
1    -8.12  111.89
2    -0.74  -90.35
3     5.41  100.34
4     4.41  114.01
..     ...     ...
184  31.14  -81.39
185 -17.57 -149.87
186 -18.37   26.50
187  11.67   92.75
188  31.83  -81.50

[189 rows x 2 columns]

In [72]:
# 11a. Add a marker layer for each city to the map. 

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig
# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))